/*Mobile first and then use Media Query for larger screens like tablet and desktops */
*{ 
    padding: 0px;
    margin: 0px;
    border:0;
}
body { 
    background-color: var(--grey);
    color: var(--black);
    font-size: 16px;
    font-family: Arial, Helvectica, sans-serif;
}

:root {
    --white: #fff;
    --maroon: maroon;
    --black: black;
}
header h1 {
    font-size: 150%;
}

/* navigation and menu styling */
nav {
    width: 320px;
    border-bottom: 10px;
}
nav ul {
    width: 352px;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}
nav li { 
    background-color: maroon;
    color: white;
    padding: 14px; 
    text-align:  center;
    border-bottom: 1px solid black;
    transition: background-color 0.2s;
}
nav li > a{ 
    text-decoration: none;
    color: var(--white);
    font-size: 15px;
}
nav ul li:hover {
    background-color: black;
}
