/*Mobile first and then use Media Query for larger screens like tablet and desktops */
*{ 
    padding: 0px;
    margin: 0px;
    border:0;
}
body { 
    background-color: var(--grey);
    color: var(--black);
    font-size: 16px;
    font-family: Arial, Helvectica, sans-serif;
}

:root {
    --white: #fff;
    --maroon: maroon;
    --black: black;
}
header h1 {
    font-size: 150%;
}
.position_header_title {
    background-color: maroon;
    padding: 12px 12px 12px 18px;
    margin: 15px 0px 10px 0px; 
    border: 1px solid black;
    height: 23px;
    width: 320px;
    text-align: left;
    font-size: 75%;
}

/* navigation and menu styling */
nav {
    width: 320px;
    border-bottom: 10px;
}
nav ul {
    width: 352px;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}
nav li { 
    background-color: maroon;
    color: white;
    padding: 14px; 
    text-align:  center;
    border-bottom: 1px solid black;
    transition: background-color 0.2s;
}
nav li > a{ 
    text-decoration: none;
    color: var(--white);
    font-size: 15px;
}
nav ul li:hover {
    background-color: black;
}

@media screen and (min-width: 1025px){

    .position_header_title {
        background-color: maroon;
        padding: 15px;
        width: 1520px;
        text-align: center;

    }

    header h1 {
        font-size: 240%;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0; 
        letter-spacing: 2px;
    }

    nav {
          height: 55px;
          background-color: var(--black);
          width: 1535px; 
    }
    nav ul {
      max-width: 1450px; 
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 0px -10px 0px -10px;
      text-align: right;
      width: 1535px;
      display: inline-block;
    }
    nav ul > li {
          display: inline-block;
          text-align: center;
          margin-right: 5px;
          width: 120px;
          height: 8px;
          padding-top: 5px;
          padding-bottom: 21px;
    }
    nav li > a {
          font-size: 79%;
          padding: auto;
          margin-bottom: 5px;
          height: 40px;
          letter-spacing: 2px;
    }
}
